body{
  color: white;
  margin: 0px;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F5277724550564022%2F&psig=AOvVaw1JO0DBBuBuOqJTlDVDC22l&ust=1608666390709000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCBhLjr3-0CFQAAAAAdAAAAABAI);
}
body a{
  color: white;
  font-size: 1.2em
}
nav{
  height: 75px;
  background-color: royalblue;
  background-color: black;
}

header{
  height: 400px;
  background-color: rgba(9, 10, 22, 0.89);
  padding: 5% 15% 5% 15%;
  font-size: 2em;
}

.greybox{
  height: 500px;
  background-color: rgba(9, 10, 22, 0.89);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.prefooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgba(9, 10, 22, 0.89);
}

footer{
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}
footer h6{
  margin: 0px;
  padding-top: 50px;
}
#yellowp{
  height: 200px;
  padding: 75px;
  font-size: 2em;
  text-align: center;
  background-image: url(..//img/back1.jpg);
  margin: 0;
}
#yellowp img{
  max-width: 100%;
}
.orangebox1{
  height: 400px;
  width: 48%;
  display: block;
  position: relative;
  overflow: hidden;
}
.orangebox1 img{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   margin: 0;
}
.orangebox2{
  height: 400px;
  width: 48%;
  display: block;
  position: relative;
  overflow: hidden;
}
.orangebox2 img{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   margin: 0;
}
.main{
  background-color: black;
  margin: 75px 100px 75px 100px;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  height: 75px;
}

nav a{
  text-decoration: none;
}
nav a:hover{
  border-style: inset;
  padding: 10%;
}
